.w-color-editable-input:nth-of-type(4) {
    visibility: hidden;
    display: none !important;
}

.w-color-wheel {
    border-radius: 50%;
    border: white solid 0.25px;
}

.colorInputs {
    display: flex;
    padding: 0.1rem 0.3rem 0.25rem 0;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.7);
}

.w-color-editable-input {
    width: 2rem;

    input {
        background-color: rgb(61, 61, 61) !important;
        color: rgb(255, 255, 255) !important;
        margin: 0 0 0 0.25rem
    }
}
